/* Corrections */
.app-layout{
    padding-top:168px;
}

.tb-br-scl2 > strong > a {
    color:#58bf00;
}
.app-layout header.stick.style2, .app-layout .rs-lg-br{
    position: fixed;
    top: 0;
    z-index: 999;
    min-height: 105px;
}

.app-layout .menu-sec1, .app-layout .rs-lg-br{
    background-color: white;
}

.logo img{
    height:70px;
}

.logo h1{
    margin: 0;
    padding: 0;
}
.logo h1 a{
    /*margin-top: 12px;*/
    color:#272727;
    font-size:30px;
    text-transform:uppercase;
    font-weight: 300;
}
.app-layout .feat-img{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #577e48;
    background-blend-mode: luminosity;
}

.image-placeholder{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-overlay{
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.5);
}

.service-box img{
    margin: 12px auto 0 auto;
    width: 45px;
}

.feat-cap h4{
    font-weight:bold;
    text-transform: capitalize;
    font-size: 70px;
    color: white;
}

.feat-img{
    /*background-color: #141414;*/
}
.owl-carousel.owl-loaded {
    display: block;
}
.sponsors{
    display: flex;
}

.sponsors .sponsor-box img{
    height: 120px;
}

.block.gray.news{
    /*padding-bottom: 0;*/
}

/*Breadcrumb */
.breadcrumb{
    background-color: transparent;
    padding: 0;
    text-align: left;
}
.breadcrumb li{
    margin-top: 5px;
}
.breadcrumb li a{
    font-weight: 600;
    color: #ddd;
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.breadcrumb li a:hover{
    text-decoration: underline;
}
.breadcrumb .active{
    color: #58bf00;
    font-weight: 600;
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.prd-thm img{
    max-width:350px;
    /*margin:auto;*/
}

.pt-0{
    padding-top: 0;
}

.pb-35{
    padding-bottom:35px;
}

.pr-60{
    padding-right: 60px;
}

.mt-10{
    margin-top: 10px;
}

.mr-20{
    margin-left: 20px;
}
.mb-40{
    margin-bottom: 40px;
}

.cause-info{
    background: #fbfbfb;
    border: 1px solid #f3f3f3;
    display: flex;
    justify-content: space-between;
    padding:2px 40px 0;
    align-items: center;
}



.dnt-gl{
    text-align: right;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin-top: 12px;
}

.fltrs-lst {
    display: block;
}

.fltrs-lst span.selected{
    color: #58bf00;
}

.prd-qunt .btn1-drk{
    margin-bottom: 12px;
}

.food-details tr td{
    padding: 20px;
}

.food-details tr td:first-child{
    background-color: #f2f2f4;
    /*max-width: 50px;*/
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
}
.composition-table ul{
    list-style: disc;
    margin-left: 16px;
}
.composition-table ol{
    list-style: decimal;
    margin-left: 16px;
}
.composition-table .title-style2, .downloads-section .title-style2{
    float: none;
}

.composition-table .tagline{
    /*display: flex;*/
    /*justify-content: space-between;*/
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 615px;
    margin: auto;
    /*border-top: 1px solid #a2a2a2;*/
    /*border-bottom: 1px solid #a2a2a2;*/
    /*padding: 10px 106px;*/
}
.composition-table .tagline>div:first-child{
    font-weight: normal;
    text-align: center;
    color: #58bf00;
}

.composition-table .statistic{
    display: flex;
    margin-bottom: 20px;
}

.composition-table .statistic>div:first-child{
    width:100px;
}

.composition-table .statistic .number{
    width: 90px;
    height: 90px;
    border-radius: 50% 0 50% 50%;
    background-color: #58bf00;
    justify-content: center;
    align-items: center;
    display: flex;
}
.composition-table .statistic .number>div{
    width: 75px;
    height: 75px;
    background-color: #272727;
    color: #f2f2f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.composition-table .statistic .info{
    margin-left: 20px;
}

.composition-table .statistic .info p{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat, 'sans-serif';
}
.composition-table .pdf{
    display: flex;
    align-items:center;
    justify-content: center;
}

.composition-table .pdf img{
    width: 40px;
    margin-right: 10px;
}

.composition-table tbody tr> td:nth-child(2){
    text-align: left;
}

.composition-table .pagination>li>a, .composition-table .pagination>li>span{
    border:0;
    color: #58bf00;
}

.composition-table .page-item.active .page-link{
    color: white;
    background-color: #58bf00;
}

.composition-table .table-view .dataTables_wrapper div:nth-child(2){
    overflow-x: scroll;
}

.composition-table .table-view table{
    min-width: 1000px;
}

.composition-table .table-view table tbody a{
    color: #444;
}
.composition-table .table-view table tbody a:hover{
    color: #58bf00;
}

/*.composition-table .table-view, .search-results .table-view{
    overflow-x: scroll;
}

.composition-table .table-view table, .search-results .table-view table{
    min-width: 1000px;
}*/
.title-style2>h3{
    font-size: 25px;
    text-transform: uppercase;
}

.charts{
    display: flex;
    align-items:center;
}

.charts .display{
    position: relative;
    width: 110px;
    height: 110px;
}

.charts .chart-info{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    /*color: white;*/
}
.charts .source{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 25px;
    font-family:Montserrat, "sans-serif";
    margin-left: 20px;
}


.product-detail-innr .description{
    color: #666;
    display: inline-block;
    font-style: italic;
    line-height: 28px;
    margin-bottom: 45px;
    margin-top: 25px;
    -webkit-transition:all .4s linear;
    -moz-transition:all .4s linear;
    -ms-transition:all .4s linear;
    -o-transition:all .4s linear;
    transition:all .4s linear
}

.p>p{
    font-size: 16px;
}

.faq{
    border-bottom: 1px solid #f2f2f4;
    padding: 14px 0;
}

.faq .question{
    padding-left: 60px;
}

.faq .number{
    position: absolute;
    background-color: #58bf00;
    color: white;
   /* background-color: #f2f2f4;
    color: #272727;*/
    font-weight: bold;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq .question .heading{
    color: #272727;
    font-size: 20px;
}

.faq .question .plus{
    background-color: #272727;
    color: #f2f2f4;
    /*background-color: #58bf00;
    color: white;*/
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.faq .answer{
    font-style: italic;
    font-size: 15px;
    /*padding: 0 54px;*/
    margin-top: 12px;
}
.faq .answer ul{
    list-style: disc;
    margin-left: 20px;
}
.faq .answer ol{
    list-style: decimal;
    margin-left: 20px;
}
.contact.news-detail{
    background-color: #f2f2f4;
    /*margin-bottom: 30px;*/
    min-height: 270px;
}

@media (max-width:996px){
    .contact.news-detail{
        background-color: #f2f2f4;
        /*margin-bottom: 30px;*/
        min-height: auto;
    }
}

.contact.news-detail h2{
    margin-bottom: 0;
}

.contact.news-detail .pst-meta{
    margin-top: 0;
}

.contact.news-detail p{
    line-height: 16px;
}

.contact-form{
    background-color: #58bf00;
    text-align: center;
}
.contact-form h4{
    color:#272727;
    font-size: 25px;
    margin: 0;
}
.contact-form p{
    color:#272727;
    margin-bottom: 50px;
}

.contact-form input, .contact-form textarea{
    background-color: #f2f2f4;
    font-size: 16px;
    border-radius: 9999px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom:12px;
    color:#272727;
}

.contact-form textarea{
    height:auto;
}

.calculator .steps{
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.calculator .steps div.step{
    margin: 0;
    padding: 20px 40px;
    /* background-color: #f4f4f4; */
    color: #58bf00;
    text-transform: uppercase;
    font-weight: bold;
    border-left: 10px solid #58bf00;
}

.calculator .steps h4{
    margin-left: 20px;
    font-weight: 500;
    font-size: 24px;
    text-transform: none;
}

.calculator .steps-content input, .auth-card input, .calculator .steps-content .modal-body input, .modal-body select, .pg-srch-frm input.search{
    background-color: #fbfbfb;
    border: 1px solid #f3f3f3;
    font-size: 16px;
    border-radius: 9999px;
    padding: 20px 40px;
    color: #555;
    /*font-style: italic;*/
    margin-bottom: 10px;
    box-shadow: 0 0 0 0;
}

.calculator .steps-content .modal-body input, .modal-body select{
    min-height:59px;
    float: none;
    font-size: 12px;
    /*margin: 16px 0;*/
}

.pg-srch-frm input.search{
    min-height:59px;
    float: none;
    font-size: 14px;
    margin-bottom: 0;
}
.calculator .steps-content .modal-body .grams{
    top: 21px;
    right: 60px;
    font-size: 12px;
}

.calculator .steps-content p{
    font-size: 16px;
    color: #555;
    margin: 6px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.calculator .steps-content{
    padding: 40px 0 40px 30px;
    border-left: 10px solid #f2f2f4;
}

.calculator .steps-content.ingredients{
    padding: 40px 0 40px 30px;
    border-left: 10px solid #f2f2f4;
    position: relative;
}

.calculator .steps-content.ingredients .add{
    width:67px;
    height:58px;
    position:absolute;
    right: 0;
    background-color: #58bf00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.calculator .select2-container{
    width: 100%;
}

.calculator .select2-container--default .select2-selection--single {
    /*background-color: #f2f2f4;*/
    font-size: 12px;
    border-radius: 0;
    height: 58px;
    color: #555;
    font-style: italic;
    /*margin-bottom: 10px;*/
    box-shadow: 0 0 0 0;
    border:0;
    border-bottom: 1px solid #f2f2f4;
}

.calculator .modal-body .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 12px;
}

.select2.select2-container.select2-container--default.select2-container--below.select2-container--open{
    z-index: 9999;
}

.ingredients .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 18px 40px;
}

.ingredients .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 30px;
    width: 30px;
    margin-top: 15px;
    border-radius: 50%;

}

/*.ingredients .select2-container--default .select2-selection--single .select2-selection__arrow b{*/
/*    border-width: 12px 7px 0 7px;*/
/*    margin-left: -6px;*/
/*    margin-top: -5px;*/
/*}*/

/*.ingredients .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{*/
/*    border-width: 0 7px 12px 7px;*/
/*}*/

.ingredients .cause-info{
    display: flex;
    /*justify-content: start;*/
    /*padding: 13px 80px 13px 40px;*/
    /*padding: 0 80px 0 0;*/
    border-radius: 9999px;
}

.ingredients .cause-info .content{
    padding: 13px 0;
    margin-left: 30px;
}
.ingredients .cause-info .content a{
    color: #444;
}

.ingredients .cause-info .details{
    display: flex;
}

.ingredients .cause-info .details>div{
    padding: 4px 6px;
    background-color: #f2f2f4;
}

.calculator .steps-content.ingredients .remove{
    width:20px;
    height:20px;
    border-radius: 50%;
    /*position:absolute;*/
    right: 0;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10px;
}
.calculator .steps-content.ingredients .weight, .calculator .steps-content.weights {
    position: relative;
}
.calculator .steps-content.ingredients .weight input, .calculator .steps-content.weights .weight input{
    width: 80px;
    height: 100%;
    text-align: center;
    margin-right: 12px;
    padding: 0;
    background-color: #fbfbfb;
    /*font-weight: bold;*/
}
.calculator .steps-content.ingredients .weight span{
    /*font-weight: bold;*/
    /*position: absolute;*/
    font-size: 18px;

    /*bottom: 20px;*/
    /*left: 17px;*/
    /*font-style: italic;*/
    font-family: "Montserrat",sans-serif;
}
.calculator .steps-content.weights .weight span{
    font-weight: bold;
    position: absolute;
    font-size: 12px;
    bottom: 7px;
    /* left: 17px; */
    font-style: italic;
    margin-left: 16px;
}

.calculator .steps-content.ingredients .weight span.line{
    position: absolute;
    bottom: 36px;
    left: 13px;
    /* height: 1px; */
    width: 56px;
    background-color: #272727;
}

.calculator .steps-content.weights .row> div{
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

.calculator .steps-content.weights .weight-title{
    height: 59px;
    width:100%;
    background-color:#f2f2f4;
    border: 1px solid #f2f2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-weight: bold;*/
    border-radius: 9999px;
    /*text-transform: uppercase;*/
    /*margin-right: 10px;*/
}
.calculator .results table td{
    border-bottom: 0;
}
.calculator .results .nutrition-info{
    padding: 0 10px 30px;
}
.calculator .results {
    padding: 10px 30px 10px;
}
.calculator .results h3{
    margin: 0;
}

.news-box.style2 .news-thumb {
    width: 100%;
    height:200px;
}

.rcnt-pst .news-thumb {
    width: 100px;
    height: 60px;
}

.partners img{
    max-height: 150px;
    margin:auto;
    margin-bottom: 20px;
}

.downloads{
    display: flex;
    /*align-items: center;*/
    /*border: 1px solid #dfe2e6;*/
}

.downloads img{
    height: 200px;
}

.downloads .downloads-details{
    margin-left: 20px;
    /*border-left: 1px solid #dfe2e6;*/
}

.downloads .line{
    width: 1px;
    height:100%;
    background-color: #dfe2e6;
}

.downloads-section .gallery-box{
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.downloads-section .gallery-info{
    text-align: center;
}

.downloads-section .gallery-info h2{
    margin-bottom: 12px;
}
/* Login Form */
.auth-card{
    max-width: 500px;
    margin: auto;
    /*padding: 40px;*/
}

.admin-layout form .action{
    justify-content: center;
    text-align: center;
    margin: 10px 0;
    /*display: grid;*/
    align-items: center;
}

.admin-layout .rviw-tbs ul {
    list-style: disc;
    margin-left: 20px;
}
.admin-layout .rviw-tbs ol {
    list-style: decimal;
    margin-left: 20px;
}

form .action{
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}

form .action .btn1{
    display: inline;
}

.admin-layout #faqs .form label.question, .admin-layout #contacts .form label.contact-number{
    color:#58bf00;
}

.admin-layout #faqs button.remove, .admin-layout #contacts button.remove{
    float: right;
    background-color: red;
    color: white;
    padding: 2px 6px;
    margin: 0;
}

@media (max-width:1024px){
    .app-layout{
        padding-top:105px;
    }
}
@media (max-width:996px){
    .fltrs-lst {
        display: none;
    }

    .calculator .steps{
       /*display: block;*/
    }

    .calculator .steps div.step{
        padding: 10px 20px;
        font-size: 12px;
        border-left: 10px solid #58bf00;
    }

    .calculator .steps h4{
        font-size: 20px;
    }

    .calculator .steps-content{
        padding: 40px 0;
        border-left: 0;
    }

    .calculator .steps-content.ingredients{
        padding: 40px 0 40px 0;
        border-left: 0;
        position: relative;
    }
    .composition-table .statistic .number{
        width: 100px;
        height: 100px;
    }
    .composition-table .statistic .number>div{
        width: 70px;
        height: 70px;
        font-size: 18px;
    }

    .composition-table .statistic .info p{
        font-size: 16px;
    }
}

@media (max-width:768px){
    .feat-img:before{
        opacity: 0;
    }

    .app-layout .feat-img{
        height: auto;
    }

    .feat-cap{
        padding: 50px 15px;
   /*     background-image: url("../../images/hero-1.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        background-color: rgba(0,0,0,0.8);*/
    }

    .owl-carousel.owl-loaded {
        display: none;
    }

    .logo img{
        height:60px;
    }

    .admin-layout .nav_bar .logo img{
        height: auto;
    }

    form.newsletter-frm>button{
        width: 60px;
    }

    .sponsors{
        display: block;
    }

    .food-details tr td:first-child {
        max-width: 100%;
    }

    .block{
        padding: 70px 0;
    }
    .p>p{
        font-size: 15px;
    }

    .feat-cap, .feat-img:before{
        z-index: auto;
    }

    .composition-table .statistic .number{
        width: 80px;
        height: 80px;
    }
    .composition-table .statistic .number>div{
        width: 58px;
        height: 58px;
        font-size: 16px;
    }

    .composition-table .statistic .info p{
        font-size: 14px;
    }

    .charts .display{
        width: 80px;
        height: 80px;
    }

    .charts .chart-info{
        font-size: 16px;
    }
    .charts .source{
        font-size: 23px;
        margin-left: 20px;
    }


}

/* Auth Page Layout */
aside.sidebar{
    position: fixed;
    min-height: 100vh;
    width:100%;
    transition: all 0.7s ease-in-out;
    right: 100%;
    /*box-shadow: 0 20px 25px 5px rgb(0 0 0 / 0.1), 0 8px 10px 6px rgb(0 0 0 / 0.1);*/
    border-left: 2px solid #f2f2f4;
    z-index: 10;
    background-color: #edf3e7;
    border-radius: 0;
}
aside.sidebar.extend{
    right: 0;
}

aside.sidebar ul{
    /*margin: 20px 0;*/
}

aside.sidebar ul li{
    /*padding: 20px 20px;*/
    transition: all 0.2s ease-in-out;
}

aside.sidebar ul li:hover{
    background-color: #daf3c0;
    cursor: pointer;
}
aside.sidebar ul li a i{
    font-size: 16px;
    color: #a2a2a2;
    margin-left: 10px;
}
aside.sidebar ul li a div{
    text-decoration: none;
    color: #272727;
    text-transform: uppercase;
    padding: 20px 20px;
    font-weight: bold;
    font-size: 12px;
    border-bottom: 1px solid #f2f2f4;
}

.separator{
    width: 2px;
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    visibility: hidden;
}

.admin-layout{
    min-height: 100vh;
    background-color: #F3F4F5;
    /*background-color: white;*/
    padding-bottom: 60px;
}

.admin-layout .menu-sec1{
    background-color: white;
}

.admin-layout nav.system-nav{
    display: block;
}

.admin-layout header.stick.style2{
    display: block;
    position: fixed;
}
.admin-layout .nav_bar .logo{
    margin-left: 20px;
    margin-top: 10px;
}
.admin-layout .nav_bar>button{
    float: right;
    margin: 20px;
}

.admin-layout .page-top{
    padding: 50px 0 40px;
}

.admin-layout .page-top > div{
    justify-content: space-between;
    display: flex;
}

.admin-layout .page-top .pg-tl h1{
    color: #272727;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
}

.admin-layout .page-top .breadcrumb-item a{
    color: #a2a2a2;
}

.admin-layout .page-top .actions{
    display: flex;
    align-items: baseline;
}
.admin-layout .page-top .actions .btn-error{
    background-color: red;
}

.auth-card .btn1, .auth-card .btn1-drk{
    display: flex;
    align-items: baseline;
}

 .error-message{
    color: red;
}

.card{
    /*box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%), 0 1px 8px 0 rgb(39 44 51 / 2%);*/
    margin: 0 0.6rem 1.2rem 0.6rem;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dfe2e6;
    /*border-radius: 0.5rem;*/
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    padding: 15px;
}

/* Admin News */
.admin-layout .news-box.style2 {
    display: flex;
    margin-bottom: 0;
    /*align-items: center;*/
}
.admin-layout .news-box.style2 .news-thumb {
    max-width: 200px;
    height: auto;
}
.admin-layout .news-box.style2 .news-detail {
    padding: 10px 5%;
}
.admin-layout .news-box.style2 .news-detail>.pst-meta {
    margin-top: 10px;
    margin-bottom: 8px;
}

.admin-layout .blg-mta h2{
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 60px;
}


.admin-layout .form label{
  text-transform: uppercase;
    margin-top: 12px;
    color: #a2a2a2;
}
.admin-layout .form input, .admin-layout .form select{
    width:100%;
    background-color: #fafafa;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid #f2f2f4;
    padding: 20px;
    color: #555;
    margin-bottom: 10px;
    box-shadow: 0 0 0 0;
}

.tb-br-cnt1>li.socials span{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.tb-br-cnt1>li.socials i{
    margin-left: 10px;
}
.style2 .blg-mta .pst-meta{
    margin-bottom: 20px;
}
.blg-mta .body img{
    float:left;
}

.blg-mta .body img{
    max-width: 400px;
    max-height:280px;
    margin: 0 20px 20px 0;
}

#toast-danger, #toast-success, #toast-warning{
    max-width: 300px;
}


@media only screen and (min-width:280px) {
    aside.sidebar{
        width: 280px;
        right: -280px;
    }
    aside.sidebar.extend{
        right: 0;
        left: auto;
    }
}

.navbar{
    transition: all 0.7s ease-in-out;
}

.navigation-buttons{
    visibility: visible;
}

.system-content{
    padding: 10px;
    transition: all 0.7s ease-in-out;
    margin: 130px 0;
}

.system-content header{
    display: flex;
    justify-content: center;
}

@media only screen and (min-width:550px) {
    .system-content{
        padding: 40px;
    }
}

@media only screen and (min-width:768px) {
    .system-content header{
        display: block;
    }
    .system-content header > div{
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width:1120px) {
    .navigation-buttons{
        visibility: hidden;
    }

    .separator{
        visibility: visible;
    }

    aside.sidebar{
        right: 0;
        left: auto;
    }
    .system-content{
        padding: 20px 320px 60px 40px;
    }
    .navbar{
        padding-right: 280px;
    }
}
@media only screen and (min-width:1300px) {
    .system-content{
        padding: 40px 340px 60px 60px;
    }
}

@media (max-width:768px){
    .ingredients  .cause-info{
        display: block;
        padding: 3px 5% 13px;
        border-radius: 12px;
    }

    .calculator .steps-content.ingredients .remove{
        background-color: transparent;
        color: red;
    }
    .calculator .steps-content.ingredients .weight{
        text-align: right;
        font-size: 18px;
    }

    .calculator .steps div.step{
        padding: 10px 20px;
    }

    .calculator .steps {
        display: block;
    }
}
